.header {
    padding: 44px 0px;
    padding: 44px 0px;
    position: absolute;
    top: 0; 

    width: 100vw;
}

.header_container {
    display: flex;
}

.nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.nav_logo {
    margin-right: auto;
}

.nav_list {
    display: flex;
    margin-right: auto;
    padding: 0 20px;
}

.nav_item {
    margin-right: 40px;
    overflow: hidden;
    padding-bottom: 10px;
}

.nav_link {
    position: relative;
    font-family: "Poppins-Medium";
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    color: #ffffff;
}

.nav_link::before {
    position: absolute;
    left: -100%;
    bottom: -5px;

    content: '';

    width: 50%;
    height: 4px;

    background-color: #c4c4c4;
    border-radius: 100px;

    transition: left 0.4s 0.1s ease-in;
}

.nav_link:hover::before {
    left: 0;
}

.registration {
    display: flex;
    align-items: center;
}

.registration_link {
    font-family: "Poppins-Medium";
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    padding: 13px 43px;
    margin-right: 20px;

    color: #ffffff;
    background-color: transparent;
    border-radius: 100px;
    transition: all 0.4s 0.1s ease-out;
}

.registration_link.active {
    background-color: #FF7B4E;
}

.registration_link:focus,
.registration_link:hover {
    background-color: #FF7B4E;
    border-radius: 100px;
}

/*intro*/

.intro {
    min-height: 950px;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 179px;
    background-image: url("../img/intro_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 85px;
}

.intro_container {
    flex-direction: column;
}

.intro_badge {
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    width: fit-content;
    padding: 11px 30px;
    margin-bottom: 7px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.25);
    color: #ffffff;
}

.intro_title {
    font-family: "Poppins-Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
    max-width: 603px;
    margin-bottom: 30px;
    color: #ffffff;
}

.intro_desc {
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    max-width: 464px;
    margin-bottom: 68px;
    color: #ffffff;
    opacity: 0.5;
}

.intro_link {
    font-family: "Poppins-Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    width: fit-content;
    padding: 27px 48px;
    border-radius: 27px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    color: #fefefe;
    transition: opacity 0.3s ease;
}

.intro_link:focus, 
.intro_link:hover {
    opacity: 0.7;
}

.intro_link:active {
    opacity: 0.5;
}

/*intro end*/

/* destination start */

.destinations {
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}

.destinations_description {
    display: flex;
    flex-direction: column;
    
    width: 50%;
    max-width: 456px;
}

.destinations_title {
    font-family: "Poppins-SemiBold";
    font-style: normal;
    font-weight: 600;

    font-size: 30px;
    line-height: 45px;
    margin-bottom: 20px;
    
    color: #0f1f1c;
}

.destinations_title span {
    font-size: 55px;
    line-height: 82px;
}

.destinations_text {
    font-family: "Poppins-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    margin-bottom: 60px;
    
    width: fit-content;
    -moz-width: fit-content;
    
    color: #0f1f1c;
    
    opacity: 0.5;
}

.destinations_link {
    font-family: "Poppins-SemiBold";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    width: fit-content;
    border-radius: 27px;
    padding: 25px 45px;

    color: #fefefe;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
}

/* destination end */

/*review*/

.review_container {
    display: flex;
    flex-direction: row;
    margin-bottom: 224px;
}

.review_img {
    margin-right: 68px;
}

.review_right {
    display: flex;
    flex-direction: column;
}

.review_avatar {
    background-color: #FFAA99;
    border-radius: 50%;
    margin-right: 33px;
}

.review_title {
    font-family: "Poppins-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 67px;
    margin-bottom: 35px;
    max-width: 565px;
    color: #0f1f1c;
}

.review_info {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.review_data {
    display: flex;
    flex-direction: column;
}

.review_name {
    font-family: "Poppins-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 49px;
    color: #0f1f1c;
}

.review_country {
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    color: #0f1f1c;
    opacity: 0.5;
}

.review_text {
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 30px;
    max-width: 491px;
    color: #0f1f1c;
    opacity: 0.5
}

.review_stars {
    display: flex;
}

.review_onestar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 59px;
    width: 59px;
    margin-right: 8px;
}

/*review end*/

/*discount*/

.discount {
    margin-bottom: 100px;
}

.discount_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 150px 106px;
    background: #FFFFFF;
    border-radius: 60px;
}

.discount_container::after,
.discount_container::before {
    position: absolute;
    content: "";
    width: 63px;
    height: 83px;
    background-image: url("../img/circle_botton.svg");
    background-repeat: no-repeat;
}

.discount_container::after {
    top: 56px;
    right: 74px;
}
.discount_container::before {
    left: 74px;
    bottom: 56px;
}

.discount_title {
    font-family: "Poppins-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 67px;
    text-align: center;
    margin-bottom: 30px;
    max-width: 520px;
    color: #0f1f1c;
}

.discount_text {
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 60px;
    text-align: center;
    color: #0f1f1c;
    opacity: 0.5;
}

.discount_link {
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    width: fit-content;
    padding: 25px 55px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
    color: #FFFFFF;
    transition: opacity 0.3s ease;   
}
.discount_link:focus, 
.discount_link:hover {
    opacity: 0.7;
}

.discount_link:active {
    opacity: 0.5;
}


/*discount end*/

/*subscribe*/

.subcscribe {
    margin-bottom: 15px;
}

.subscribe_container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 35px;
    padding-bottom: 20px;
}

.subscribe_title {
    font-family: "Poppins-Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
    text-align: center;
    margin-bottom: 60px;
    max-width: 494px;
    color: #0F1F1C;
}

.subscribe_form {
    position: relative;
    max-width: 800px;
    width: 100%;
}

.subscribe_form input[type="text"] {
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    width: 100%;
    padding: 46px;
    padding-right: 350px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #C4C4C4;
    border-radius: 35px;
    border: none;
    color: #0F1F1C;
}

.subscribe_form input[type="text"]::placeholder {
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #0F1F1C;
    opacity: 0.5;
}

.subscribe_form button[type="submit"] {
    position: absolute;
    top: 12px;
    right: 15px;
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    padding: 33px;
    min-width: 300px;
    color: #FFFFFF;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    border-radius: 35px;
    border: none;
    
}
.footer {
    padding: 74px 0px;
}

.footer_container {
    display: flex;
}

.footer_nav_list {
    display: flex;
    margin-right: auto;
    padding: 0 20px;
}

.footer_nav_link {
    font-family: "Poppins-Medium";
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    padding: 0 40px;    
    color: #0F1F1C;
}

/*swiper*/
.swiper {
    width: 745px;
    height: 456px;
}

.swiper-slide {
    width: 380px;
    transition: transform 0.4s 0.1s linear;
}

.swiper-slide-active {
    transform: scale(0.8);
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 35px;
    object-fit: cover;
}

@media (max-width: 1240px) {
    /* все уменьшаем*/

    .review_img {
        width: 400px;
        height: 400px;
        border-radius: 100px;
    }

    .review_title {
        font-size: 35px;
        line-height: 40px;
    }

    .review_avatar {
        width: 100px;
        height: 100px;
    }

    .review_avatar img {
        width: 100px;
        height: 100px;
    }

    .review_name {
        font-size: 25px;
        line-height: 35px;
    }

    .review_country {
        font-size: 20px;
        line-height: 24px;
    }

    .review_info {
        margin-bottom: 40px;
    }

    .review_text {
        font-size: 18px;
        line-height: 24px;
    }

    .review_onestar {
        width: 40px;
        height: 40px;
    }

    .review_onestar img {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 960px) {
    /* в колонку */

    .review_container {
        flex-direction: column;
    }

    .review_right {
        margin-bottom: 40px;
    }

    .review_img {
        width: 100%;
        object-fit: cover;
        object-position: top;
        margin: 0;
        border-radius: 100px;
        order: 2;
    }
}

@media (max-width: 534px) {
    /*снова уменьшаем*/
    .review_img {
        display: none;
    }
}