.header {
    padding: 44px 0px;
    padding: 44px 0px;
    position: absolute;
    top: 0;

    width: 100vw;
}

.header_container {
    display: flex;
}

.nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.nav_logo {
    margin-right: auto;
}

.nav_list {
    display: flex;
    margin-right: auto;
    padding: 0 20px;
}

.nav_link {
    font-family: "Poppins-Medium";
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    padding: 0 40px;

    color: #ffffff;
}

.registration {
    display: flex;
    align-items: center;
}

.registration_link {
    font-family: "Poppins-Medium";
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    padding: 13px 43px;

    color: #ffffff;
}

.registration_link:focus,
.registration_link:hover {
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    border-radius: 100px;
}

/*intro*/

.intro {
    min-height: 950px;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 179px;
    background-image: url("../img/intro_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro_container {
    flex-direction: column;
}

.intro_badge {
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    width: fit-content;
    padding: 11px 30px;
    margin-bottom: 7px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.25);
    color: #ffffff;
}

.intro_title {
    font-family: "Poppins-Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
    max-width: 603px;
    margin-bottom: 30px;
    color: #ffffff;
}

.intro_desc {
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    max-width: 464px;
    margin-bottom: 68px;
    color: #ffffff;
    opacity: 0.5;
}

.intro_link {
    font-family: "Poppins-Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    width: fit-content;
    padding: 27px 48px;
    border-radius: 27px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    color: #fefefe;
    transition: opacity 0.3s ease;
}

.intro_link:focus, 
.intro_link:hover {
    opacity: 0.7;
}

.intro_link:active {
    opacity: 0.5;
}

/*intro end*/

/*review*/

.review_container {
    display: flex;
    flex-direction: row;
    margin-bottom: 224px;
}

.review_right {
    display: flex;
    flex-direction: column;
    margin-left: 68px;
}

.review_avatar {
    background: #FFAA99;
    border-radius: 50%;
}

.review_title {
    font-family: "Poppins-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 67px;
    margin-bottom: 35px;
    max-width: 565px;
    color: #0f1f1c;
}

.review_info {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.review_data {
    display: flex;
    flex-direction: column;
    margin-left: 33px;
}

.review_name {
    font-family: "Poppins-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 49px;
    margin-top: 20px;
    color: #0f1f1c;
}

.review_country {
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    color: #0f1f1c;
    opacity: 0.5;
}

.review_text {
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 30px;
    max-width: 491px;
    color: #0f1f1c;
    opacity: 0.5
}

.review_stars {
    display: flex;
}

.review_onestar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 59px;
    width: 59px;
    margin-right: 8px;
}

/*review end*/

/*discount*/

.discount {
    margin-bottom: 100px;
}

.discount_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 150px 106px;
    background: #FFFFFF;
    border-radius: 60px;
}

.discount_container::after,
.discount_container::before {
    position: absolute;
    content: "";
    width: 63px;
    height: 83px;
    background-image: url("../img/circle_botton.svg");
    background-repeat: no-repeat;
}

.discount_container::after {
    top: 56px;
    right: 74px;
}
.discount_container::before {
    left: 74px;
    bottom: 56px;
}

.discount_title {
    font-family: "Poppins-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 67px;
    text-align: center;
    margin-bottom: 30px;
    max-width: 520px;
    color: #0f1f1c;
}

.discount_text {
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 60px;
    text-align: center;
    color: #0f1f1c;
    opacity: 0.5;
}

.discount_link {
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    width: fit-content;
    padding: 25px 55px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
    color: #FFFFFF;
    transition: opacity 0.3s ease;   
}
.discount_link:focus, 
.discount_link:hover {
    opacity: 0.7;
}

.discount_link:active {
    opacity: 0.5;
}


/*discount end*/

/*subscribe*/

.subcscribe {
    margin-bottom: 15px;
}

.subscribe_container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 35px;
    padding-bottom: 20px;
}

.subscribe_title {
    font-family: "Poppins-Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
    text-align: center;
    margin-bottom: 60px;
    max-width: 494px;
    color: #0F1F1C;
}

.subscribe_form {
    position: relative;
    max-width: 800px;
    width: 100%;
}

.subscribe_form input[type="text"] {
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    width: 100%;
    padding: 46px;
    padding-right: 350px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #C4C4C4;
    border-radius: 35px;
    border: none;
    color: #0F1F1C;
}

.subscribe_form input[type="text"]::placeholder {
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #0F1F1C;
    opacity: 0.5;
}

.subscribe_form button[type="submit"] {
    position: absolute;
    top: 12px;
    right: 15px;
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    padding: 33px;
    min-width: 300px;
    color: #FFFFFF;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    border-radius: 35px;
    border: none;
    
}
.footer {
    padding: 74px 0px;
}

.footer_container {
    display: flex;
}

.footer_nav_list {
    display: flex;
    margin-right: auto;
    padding: 0 20px;
}

.footer_nav_link {
    font-family: "Poppins-Medium";
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    padding: 0 40px;    
    color: #0F1F1C;
}